$fuentePrincipal: 'Montserrat', sans-serif;
// colors
$primary: #5C62C5;
$dark-grey: #343A40;
$grey: #2f3031;
$ligth-grey: #ADB5BD;
$bone: #DEE2E6;
$black: #000;
$white: #fff;
// mediaqueries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
// Separaciones
$separacion: 5rem;